body {
    background: navy;
    color: #fff;
    padding: 3em;
}

img {
    box-shadow: 10px 10px 10px #fff;
    -moz-box-shadow: 10px 10px 10px #fff;
    -webkit-box-shadow: 10px 10px 10px #fff;
}

h1 img {
    width: 600px;
    position: absolute;
    margin-left: 370px;
}
