body {
    background-image: url(/images/tomatoes4.jpg);
    background-size: cover;
    background-color: tomato;
    padding:3em;
    
    
}

img
{
    box-shadow: 10px 10px 10px #fff;
}

img
{
-moz-box-shadow: 10 10 10px #fff;
-webkit-box-shadow: 10 10 5px #fff;
box-shadow: 0px 0px 10px #fff;
}

h1 img {
    width:600px;
    position: absolute;
    margin-left: 370px;
    /* Minimal styles for blank template */
    html,body{height:100%;margin:0}
body{display:flex;align-items:center;justify-content:center;font-family:Arial,Helvetica,sans-serif;background:#00008B;color:#fff}
